page-matchSettings {
  #totalFirstTeamDiv {
    padding-top: 2%;
  }
  .mixPlayersDiv {
    padding-top: 15%;
  }
  .btn-wrapper {
    text-align: center;
  }
  .nextButton {
    margin-top: 20%;
  }
}
